a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
a:hover {
  color: rgb(82, 81, 81);
}

.margintop {
  margin-top: 70px;
}

.gallery {
  display: grid;
  grid-gap: 2px;
  grid-template-rows: repeat(8, 5vw);
}

.gallery-item {
  width: 100%;
  height: 100%;
  border: solid rgba(165, 163, 163, 0.5) 0.02rem;
}

.title-gallery-item {
  background-color: rgba(255, 255, 255, 0.466);
  width: 100%;
  height: 40%;
  padding: 10px;
}

.title-gallery-item span {
  font-size: 9pt;
  color: rgb(87, 85, 85);
}

.gallery-item img {
  width: 100%;
  height: 60%;
  object-fit: cover;
  display: block;
}

.gallery-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 9;
}

.gallery-item-2 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-item-3 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 5;
}

.gallery-item-4 {
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 5;
  grid-row-end: 9;
}

.gallery-item-5 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 5;
  grid-row-end: 9;
}

.nagivation {
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 10px 5%;
}

.nagivation .navbar-collapse {
  justify-content: flex-end;
}

.nagivation form {
  display: inline-flex;
  margin-left: 50px;
}

.footer {
  text-align: center;
  background-color: #f8f9fa;
  padding-top: 40px;
}

.footer .icon {
  display: flex;
  font-size: 25pt;
  background-color: rgb(0, 0, 0);
  color: #e2e2e2;
  justify-content: space-around;
  padding: 10px;
  margin-top: 30px;
}

.list-img {
  margin-top: 17px;
  background-color: #f8f9fa;
}

.card {
  flex-direction: row;
  margin: 20px auto;
  height: 250px;
  width: 90%;
  border-radius: 0;
}

.card img {
  width: 40%;
  height: 100%;
  border-top-right-radius: 0;
  border-bottom-left-radius: calc(0.25rem - 1px);
}

.des-content {
  height: 30%;
  font-size: 11pt;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.img-view-right {
  width: 95%;
  height: 300px;
  margin: 5px auto;
}

.detailviewa {
  font-size: 10pt;
  color: rgb(0, 38, 255);
}
.detailviewmore {
  margin: 10px auto;
  display: flex;
}

.gallery-footer {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 5vw);
  grid-gap: 1.5rem;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item--1 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--2 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--3 {
  grid-column-start: 5;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 6;
}

.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--5 {
  grid-column-start: 3;
  grid-column-end: 7;
  grid-row-start: 6;
  grid-row-end: 9;
}

.gallery__item--6 {
  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 6;
  grid-row-end: 9;
}

.list-project-page {
  margin-top: 100px;
}

.list-project-page h2 {
  text-align: center;
  margin: 30px auto;
}

.navbar-collapse {
  margin-right: 50px;
}

.search-input {
  width: 70%;
  margin: auto;
}

.button-search-type {
  margin: 20px auto;
  width: 70%;
}

.button-search-type button {
  margin-right: 30px;
}

.contract-form {
  margin: 150px auto 50px auto;
  padding: 50px;
  width: 50%;
  height: 700px;
  box-shadow: 5px 10px 18px #888888;
}

.contract-form a {
  color: rgb(0, 119, 255);
}

.contract-form .card {
  height: 100%;
  padding: 20px;
}

.contract-form .card-body {
  height: 750px;
}
.contract-form button {
  display: flex;
  margin: auto;
  padding: 7px 30px;
}

.project-detail {
  margin-top: 60px;
  background-color: #eeeeee;
}

.project-detail h3 {
  margin: 50px auto;
}

.img-content-project {
  width: 60%;
  display: flex;
  margin: 20px auto;
}

footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #111;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}

footer .container .noi-dung {
  margin-right: 30px;
}

footer .container .noi-dung.about {
  width: 40%;
}
footer .container .noi-dung.about h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
footer .container .noi-dung.about h2:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

footer .container .noi-dung.about p {
  color: #999;
}

.social-icon {
  margin-top: 20px;
  display: flex;
}

.social-icon li {
  list-style: none;
}
.social-icon li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.social-icon li a:hover {
  background: #f00;
}

.social-icon li a .fa {
  color: #fff;
  font-size: 20px;
}

.links h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.links h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}
.links h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}
.links {
  position: relative;
  width: 25%;
}
.links ul li {
  list-style: none;
}
.links ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}
.links ul li a:hover {
  color: #fff;
}

.contact h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

.contact h2::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 50px;
  height: 2px;
  background: #f00;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}
.contact .info li {
  display: flex;
  margin-bottom: 16px;
}
.contact .info li span:nth-child(1) {
  color: #fff;
  font-size: 20px;
  margin-right: 10px;
}

.contact .info li span {
  color: #999;
}

.contact .info li a {
  color: #999;
  text-decoration: none;
}

.form__field {
  width: 90%;
  background: #fff;
  color: #a3a3a3;
  font: inherit;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
  padding: 8px 4px;
}

@media (max-width: 768px) {
  footer {
    padding: 40px;
  }
  footer .container {
    flex-direction: column;
  }
  footer .container .noi-dung {
    margin-right: 0;
    margin-bottom: 40px;
  }
  footer .container,
  .noi-dung.about,
  .links,
  .contact {
    width: 100%;
  }
}

.navbar-item {
  margin: auto 20px;
}

.loading {
  text-align: center;
  margin-top: 40vh;
  font-size: 20pt;
}

.loading span {
  margin-left: 20px;
}

.mail-contract {
  padding: 5px 10px;
  margin-right: 10px;
}

.opacity-5 {
  opacity: 0.8;
}

.main-img-slide {
  width: 90%;
  margin: 40px 5% 0 5%;
  height: 500px;
}

.item-slide-show {
  width: 90%;
  display: flex;
  margin: auto;
  justify-content: center;
}

.item-slide-show img {
  width: 20%;
  height: 100px;
}
.silde-project-detail {
  position: relative;
}

.gourp-button-slide {
  position: absolute;
  top: 55px;
  right: 10%;
}
.gourp-button-slide button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #272727d2;
  border-radius: 5px;
  border: none;
}
.body-project-detail {
  padding: 10px;
  margin: 20px;
}

.contract-form-project {
  width: 90%;
  margin: 0 5%;
  height: auto;
  padding: 30px 10px;
  position: -webkit-sticky;
  position: sticky;
  top: 60px;
  border: none;
}

.contract-form-project input {
  margin-bottom: 20px;
}

.contract-form-project button {
  width: 100%;
  padding: 10px;
  margin: 10px auto;
  font-size: 11pt;
  background-color: rgb(0, 130, 206);
  border: none;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.icon-contract {
  display: flex;
  margin: auto;
  font-size: 70pt;
  margin-bottom: 20px;
}

.project-detail-header {
  padding: 20px 100px;
  margin-top: 50px;
}

.ggmaps {
  width: 90%;
  margin: 40px 5% 0 5%;
  height: 500px;
}

.login-form {
  margin: 100px auto 50px auto;
  padding: 40px 20px;
  width: 50%;
  box-shadow: 5px 10px 18px #888888;
}

.login-form .card {
  height: 300px;
}

.content-project-data {
  background-color: white;
  padding: 10px 50px;
  margin-bottom: 20px;
}

.content-project-data h3 {
  text-align: center;
}

.opa-project {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.568);
  z-index: 2;
  height: 200vmax;
  width: 100%;
}

.add-project {
  position: absolute;
  top: 100px;
  z-index: 3;
  left: 10%;
  width: 80%;
  height: auto;
  border: solid 1px;
  background-color: white;
  padding: 50px;
}

.add-project input {
  margin-bottom: 10px;
}

.add-project button {
  margin: 20px 50px;
  padding: 10px 30px;
}

.uncolum img {
  width: 80%;
  margin-left: 10%;
}

@media all and (max-width: 1200px) {
  .gallery {
    display: inline-block;
    width: 95%;
  }
  .gallery-item {
    margin-top: 10px;
  }
  .list-img {
    display: none;
  }
  .list-project {
    width: 100%;
  }
  .list-project .card-body {
    padding: 5px 7px;
  }
  .list-project .card {
    overflow: hidden;
    height: 150px;
    font-size: 9pt;
    width: 100%;
  }
  .list-project button {
    display: none;
  }
  .des-content {
    display: none;
  }
  footer .container .noi-dung.about {
    text-align: center;
    width: 100%;
  }
  footer .container .noi-dung {
    text-align: center;
    width: 100%;
  }
  .main-img-slide {
    height: 250px;
    width: 96%;
    margin: 10px 1% 0 1%;
  }
  .gourp-button-slide {
    top: 20px;
    right: 40px;
  }
  .item-slide-show {
    margin-left: 4%;
  }
  .item-slide-show img {
    height: 60px;
    width: 21%;
  }
  .ggmaps {
    height: 200px;
    margin-top: 10px;
    width: 96%;
    margin-left: 2%;
  }
  .body-project-detail {
    flex-direction: column;
  }
  .body-project-detail .list-group {
    display: none;
  }
  .content-project-data img {
    width: 100%;
    margin-left: 0;
  }
  .uncolum {
    width: 100%;
  }
  .uncolum img {
    width: 100%;
    padding-bottom: 20px;
  }
  .uncolum2 {
    width: 100%;
  }
  .project-detail-header {
    width: 100%;
    padding: 10px;
    margin: 30px 10px;
  }
  .project-detail-header h5 {
    font-size: 11pt;
  }
  .project-detail-header h6 {
    margin-top: 10px;
    font-size: 10pt;
  }
  .contract-form {
    width: 90%;
    padding: 10px;
    height: auto;
  }
}
